<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiny.emall.ucenter.dao.FlywaySchemaHistoryMapper">
  <resultMap id="BaseResultMap" type="com.shiny.emall.common.ucenter.entity.FlywaySchemaHistory">
    <id column="installed_rank" jdbcType="INTEGER" property="installedRank" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="script" jdbcType="VARCHAR" property="script" />
    <result column="checksum" jdbcType="INTEGER" property="checksum" />
    <result column="installed_by" jdbcType="VARCHAR" property="installedBy" />
    <result column="installed_on" jdbcType="TIMESTAMP" property="installedOn" />
    <result column="execution_time" jdbcType="INTEGER" property="executionTime" />
    <result column="success" jdbcType="BIT" property="success" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from flyway_schema_history
    where installed_rank = #{installedRank,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shiny.emall.common.ucenter.entity.FlywaySchemaHistory">
    insert into flyway_schema_history (installed_rank, version, description, 
      `type`, script, `checksum`, 
      installed_by, installed_on, execution_time, 
      success)
    values (#{installedRank,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{script,jdbcType=VARCHAR}, #{checksum,jdbcType=INTEGER}, 
      #{installedBy,jdbcType=VARCHAR}, #{installedOn,jdbcType=TIMESTAMP}, #{executionTime,jdbcType=INTEGER}, 
      #{success,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shiny.emall.common.ucenter.entity.FlywaySchemaHistory">
    update flyway_schema_history
    set version = #{version,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      script = #{script,jdbcType=VARCHAR},
      `checksum` = #{checksum,jdbcType=INTEGER},
      installed_by = #{installedBy,jdbcType=VARCHAR},
      installed_on = #{installedOn,jdbcType=TIMESTAMP},
      execution_time = #{executionTime,jdbcType=INTEGER},
      success = #{success,jdbcType=BIT}
    where installed_rank = #{installedRank,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select installed_rank, version, description, `type`, script, `checksum`, installed_by, 
    installed_on, execution_time, success
    from flyway_schema_history
    where installed_rank = #{installedRank,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select installed_rank, version, description, `type`, script, `checksum`, installed_by, 
    installed_on, execution_time, success
    from flyway_schema_history
  </select>
</mapper>