<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiny.emall.ucenter.dao.UcMenuMapper">
  <resultMap id="BaseResultMap" type="com.shiny.emall.common.ucenter.entity.UcMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="p_code" jdbcType="VARCHAR" property="pCode" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
  </resultMap>
  <resultMap id="VoResultMap" type="com.shiny.emall.common.ucenter.vo.MenuVo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="p_code" jdbcType="VARCHAR" property="pCode" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from uc_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shiny.emall.common.ucenter.entity.UcMenu">
    insert into uc_menu (id, app_id, code,
      p_code, p_id, `name`, url,
      `level`, sort, `status`,
      icon)
    values (#{id,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{pCode,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
      #{level,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{icon,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shiny.emall.common.ucenter.entity.UcMenu">
    update uc_menu
    set app_id = #{appId,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      p_code = #{pCode,jdbcType=VARCHAR},
      p_id = #{pId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, app_id, code, p_code, p_id, `name`, url, `level`, sort, `status`, icon
    from uc_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectMenusByRoleId" resultType="com.shiny.emall.common.ucenter.entity.UcMenu">
    SELECT id,app_id, code, p_code, p_id, `name`, url, `level`, sort, `status`, icon
    from uc_menu where id IN (SELECT menu_id from uc_role_menu WHERE role_id=#{roleId})
  </select>
  <select id="selectMenuByPath" resultType="com.shiny.emall.common.ucenter.entity.UcMenu">
    SELECT * from uc_menu WHERE url=#{path}
  </select>
  <select id="selectMenusByUserId" resultMap="VoResultMap">
    SELECT id,app_id, code, p_code, p_id, `name`, url, `level`, sort, icon
    from uc_menu WHERE id IN (SELECT menu_id FROM uc_role_menu WHERE role_id IN (
      SELECT role_id FROM  uc_user_role WHERE user_id=#{userId}
    ))
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT id,app_id, code, p_code, p_id, `name`, url, `level`, sort, icon
    from uc_menu
  </select>
</mapper>