<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiny.emall.ucenter.dao.UcRoleCompanyMapper">
  <resultMap id="BaseResultMap" type="com.shiny.emall.common.ucenter.entity.UcRoleCompany">
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from uc_role_company
    where role_id = #{roleId,jdbcType=VARCHAR}
      and company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shiny.emall.common.ucenter.entity.UcRoleCompany">
    insert into uc_role_company (role_id, company_id)
    values (#{roleId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, company_id
    from uc_role_company
  </select>
</mapper>