<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiny.emall.ucenter.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.shiny.emall.common.ucenter.entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shiny.emall.common.ucenter.entity.User">
    insert into user (id, `name`, phone, 
      `password`, salt, `status`, 
      deleted, createTime, createBy, 
      updateTime, updateBy)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{deleted,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.shiny.emall.common.ucenter.entity.User">
    update user
    set `name` = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      updateBy = #{updateby,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, `name`, phone, `password`, salt, `status`, deleted, createTime, createBy, 
    updateTime, updateBy
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, phone, `password`, salt, `status`, deleted, createTime, createBy, 
    updateTime, updateBy
    from user
  </select>
  <!--使用resultType指定输出类型-->
  <select id="findById" resultType="com.shiny.emall.common.ucenter.entity.User">
      SELECT * FROM users WHERE id = #{id}
  </select>
</mapper>