spring:
  application:
    name: emall-auth-server
  datasource:
    url:  jdbc:mysql://10.1.5.92:3306/mall?characterEncoding=utf8&useSSL=false
    username: root
    password: root
    driverClassName: com.mysql.jdbc.Driver
server:
  port: 7777
  # Use different context-path to avoid session cookie overlapping
  context-path: /uaa
  use-forward-headers: false
logging:
  config: classpath:log4j2.xml
eureka:
  client:
    serviceUrl:
     defaultZone: http://localhost:9527/eureka
security:
  oauth2:
    resource:
      filter-order: 3
  basic:
    enabled: false
ribbon:
  ReadTimeout: 30000
  SocketTimeout: 30000